// #root {
//    background:#eee;
// }

#about {
   background:#eee;
}

#footer {
   background: #273443;
}

.style-modal {
   background-color: rgba(0,0,0,0.7);
}

.style-navbar {
   margin-left: 130px;
}