#root { 
   background:#eee; 
   min-height: 100vh;
}

#login, #register {
   background-image: url(/images/login_register_bg.jpg); 
   background-size: cover;
   background-position: top;
   min-height: 100vh;  
}

#about {
   background-image: linear-gradient(rgba(3, 10, 18, .65), rgba(1, 8 , 16, .60)), url(/images/about_bg.jpg); 
   background-size: cover;
   background-position: bottom;
   color: white;
}

#contact {
   background-image: url(/images/contact_bg.jpg); 
   background-size: cover;
   background-position: top;
   min-height: 100vh;

   form { width: 65%; } 
}

#footer {  
   background: #222; 
   border-top: 1px solid white;

   a {   
      display: inline-block;
      margin: 0 10px;
      width: 42px;
      height: 42px;
      border: solid 1px rgba(255, 255, 255, 0.1);
      border-radius: 50%;
      font-size: 18px;
      line-height: 42px;
      text-align: center;
      color: #35a22c;
      
      transition: 0.3s;
   }
      
   a:hover { border-color: #35a22c; }      
}

.style-modal { background-color: rgba(0,0,0,0.7); }